<div class="container">
    <div class="card">
        <div classe="card-header">products List</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of Products">
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.price}}</td>
                        <td>
                            <i *ngIf="p.promotion==true" class="bi bi-heart-fill" text-success></i>
                        </td>
                        <td>
                            <button [ngClass]="p.promotion==true?'btn-danger':'btn-success'" calss="btn">
                                <span *ngIf="p.promotion==true">Promo ON</span>
                                <span *ngIf="p.promotion==false">Promo OFF</span>

                            </button>
                        </td>
                        <td>
                            <button (click)="handleDeleteProduct(p)" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>